/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
}
nav{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F95C18;
    color: white;
}
.admin{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.sub-menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: #F95C18;
    color: white;
    display: none; 
}
.admin span img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid white;
    padding: 5px;
    filter: brightness(100);
} */ 